.Note {
    padding: 10px 0;
    border: 1px solid black;
}

.Note button {
    display: inline-block;
    width: 50%;
    border: 1px solid black;
    padding: 5px 10px;
}

.Note button:active,
.Note button:focus {
    outline: 0;
}

.Note label {
    display: inline-block;
    width: 33.33333%;
}

.Note label input,
.Note label select {
    display: inline-block;
    line-height: 1.3em;
}

.Note .controls {
    display: inline-block;
    width: 33.33%;
}

.Note .delete {
    color: white;
    background: firebrick;
}

.Note .play {
    color: white;
    background: navy;
}
