.Note {
    padding: 10px 0;
    border: 1px solid black;
}

.Note button {
    display: inline-block;
    width: 50%;
    border: 1px solid black;
    padding: 5px 10px;
}

.Note button:active,
.Note button:focus {
    outline: 0;
}

.Note .pitch-select,
.Note .duration-buttons,
.Note .controls {
    display: inline-block;
}

.Note .pitch-select {
    width: 20%;
}

.Note .duration-buttons {
    width: 40%;
}

.Note .controls {
    width: 40%;
}

.Note label select {
    display: inline-block;
    line-height: 1.3em;
}

.Note .delete {
    color: white;
    background: firebrick;
}

.Note .play {
    color: white;
    background: navy;
}
